[class="Patrick Rebentrost"] {
    text-decoration-line: underline;
  }

[class="Po-Wei Huang"] {
    text-decoration-line: underline;
  }

[class="Debbie Lim"] {
    text-decoration-line: underline;
}

[class="Zhan Yu"] {
    text-decoration-line: underline;
  }

[class="Naixu Guo"] {
    text-decoration-line: underline;
  }

[class="Kelvin Koor"] {
    text-decoration-line: underline;
  }

[class="Yixian Qiu"] {
    text-decoration-line: underline;
  }

[class="Xiufan Li"] {
    text-decoration-line: underline;
  }

[class="Feng Pan"] {
    text-decoration-line: underline;
  }

[class="Cheng Bin"] {
    text-decoration-line: underline;
  }

[class="Jinge Bao"] {
    text-decoration-line: underline;
  }

[class="Aman Agrawal"] {
    text-decoration-line: underline;
  }

[class="Lukas Mouton"] {
    text-decoration-line: underline;
  } 

[class="Jeong Yu Han"] {
    text-decoration-line: underline;
  } 